@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #EBEBEB;
    color: #494949;
}

.form-container {
    background: white;
    width: 430px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #B8B8B828;
}

.form-container h3 {
    text-align: center;
    font-size: 24px;
    color: #383838;
    margin-bottom: 20px;
}

.form-container a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.form-container button {
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: red;
    border-radius: 10px;
    cursor: pointer;
}

.login-user, .login-password {
    position: relative;
}

.form-container input::placeholder {
    color: #B8B8B8;
}

.login-user input, .login-password input {
    border: 1px solid #cccccc;
    width: 100%;
    height: 50px;
    margin: 10px auto;
    border-radius: 50px;
    padding: 0 55px 0 25px;
    outline: none;
}

.login-user input:focus, .login-password input:focus {
    box-shadow: 0 5px 10px #b8b8b833;
    transition: 0.5s;
}

.login-user svg {
    position: absolute;
    width: 18px;
    top: calc(50% - 12px);
    right: 25px;
    color: #B8B8B8;
}

.login-password svg {
    position: absolute;
    width: 18px;
    top: calc(50% - 12px);
    right: 25px;
    color: #B8B8B8;
}

.options-form {
    display: flex;
    margin: 20px 10px;
}

.option-remember {
    width: 50%;
}

.option-reset {
    width: 50%;
    text-align: right;
}

.option-remember label {
    margin-left: 5px;
}

.form-container p {
    margin: 25px auto;
    text-align: center;
    color: #B8B8B8;
}

.social-login {
    display: flex;
    justify-content: center;
}

.social-login img {
    width: 50px;
    height: 50px;
}


.social-facebook, .social-twitter, .social-linkedin {
    padding: 0 10px;
}

.form-container hr {
    margin: 30px 20px;
    border: 1px solid #f0f0f0;
}

